# Ignore R output and data files
*.Rlog
*.rda
*.Rout
*.rds
*.args
*.Rlog
*.rda
*.Rout
*.rds
*.args
*.swp
*.DS_Store
*.pdf.icloud
*.args.icloud
*.icloud
*.RDataTmp
*.txt
scripts/makestuff/
.Rproj.user
